.DS_Store
.fseventsd
.Spotlight-V100

input
input.txt
.cookie
caller/caller

debug/
target/
Cargo.lock

*.o
*.so
*.out
*.dSYM/
.clang-format

.vscode/
.cache/

zig-cache/
zig-out/
compile_commands.json
